body {
  font-family: "Roboto", sans-serif;
  color: rgb(33, 33, 33);
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  padding-left: 0px;
  margin: 0;
  list-style: none;
}

.section {
  padding: 60px 0;
  margin: 0 auto;
}
.section--what-we-do {
  text-align: center;
  padding-top: 0;
  display: none;
}
@media screen and (min-width: 1600px) {
  .section--what-we-do {
    display: block;
  }
}
.section__our-team {
  text-align: center;
  background-color: rgb(245, 244, 250);
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    width: 1200px;
  }
}
.container--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .container--header {
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
  }
}
.container__logo {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
}
@media screen and (min-width: 1600px) {
  .container__logo {
    font-size: 26px;
    line-height: 1.192;
  }
}
.container__logo--header-logo {
  color: black;
}
.container--blue-text {
  color: rgb(33, 150, 243);
}
.container--hero {
  padding: 0;
}
.container__h1 {
  display: inline-block;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin: 0 auto 30px;
}
@media screen and (min-width: 480px) {
  .container__h1 {
    width: 360px;
  }
}
@media screen and (min-width: 1600px) {
  .container__h1 {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
.container__button {
  display: block;
  margin: 0 auto;
  font-weight: 700;
  padding: 10px 24px;
  border: 0;
  background: rgb(33, 150, 243);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  font-family: inherit;
}
.container__title {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1600px) {
  .container__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}
.container__logo--footer-logo {
  color: rgb(255, 255, 255);
  display: block;
  margin-bottom: 20px;
  text-align: center;
}
.container__adress {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255);
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .container--footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1600px) {
  .container--footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .container__contacts {
    margin: 0 204px 60px 76px;
  }
}

.header-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .header-page {
    padding: 17px 0;
  }
}
@media screen and (min-width: 1600px) {
  .header-page {
    padding: 24px 0 25px;
  }
}
.header-page__menu {
  display: none;
  background-color: rgb(255, 255, 255);
  z-index: 1;
}
@media screen and (max-width: 479px) {
  .header-page__menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 10px;
  }
}
@media screen and (min-width: 480px) {
  .header-page__menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
  }
}
.header-page__menu--is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .header-page__menu {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 87px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
}
@media screen and (min-width: 1600px) {
  .header-page__menu {
    margin-left: 92px;
  }
}

@media screen and (max-width: 480px) {
  .nav {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 480px) {
  .nav {
    margin-bottom: 306px;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    margin-bottom: 0;
  }
}

.pages {
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .pages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
  }
}
.pages__header-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration: none;
  cursor: pointer;
  color: rgb(33, 33, 33);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .pages__header-link {
    font-size: 14px;
    line-height: 1.143;
  }
}
.pages li:not(:last-child) {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .pages li:not(:last-child) {
    margin-bottom: 0;
  }
}
.pages__header-link--current {
  color: rgb(33, 150, 243);
  position: relative;
}
.pages__header-link--current::after {
  display: none;
}
@media screen and (min-width: 768px) {
  .pages__header-link--current::after {
    display: block;
    content: "";
    position: absolute;
    top: 44px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: rgb(33, 150, 243);
    border-radius: 2px;
  }
}
.pages__header-link:hover, .pages__header-link:focus {
  color: rgb(33, 150, 243);
}
.pages__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  z-index: 2;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .pages__button {
    display: none;
  }
}
.pages__icon-close {
  display: none;
}
.pages__button--is-open .pages__icon-close {
  display: block;
}
.pages__icon-close:focus, .pages__icon-close:hover {
  fill: rgb(33, 150, 243);
}
.pages__button--is-open .pages__icon-menu {
  display: none;
}

.company-contacts {
  list-style-type: none;
  position: relative;
}
@media screen and (min-width: 768px) {
  .company-contacts {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    margin-left: 96px;
  }
}
@media screen and (min-width: 1600px) {
  .company-contacts {
    margin-left: 315px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
  }
}
.company-contacts__contact {
  position: absolute;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: rgb(117, 117, 117);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.company-contacts__contact--tel {
  top: 0;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: rgb(33, 150, 243);
}
@media screen and (min-width: 768px) {
  .company-contacts__contact--tel {
    position: static;
    font-size: 12px;
    line-height: 1.17;
    color: rgb(117, 117, 117);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1600px) {
  .company-contacts__contact--tel {
    font-size: 14px;
    line-height: 1.14;
  }
}
.company-contacts__contact--mail {
  top: 72px;
  font-size: 24px;
  line-height: 1.17;
  color: rgb(117, 117, 117);
}
@media screen and (min-width: 768px) {
  .company-contacts__contact--mail {
    position: static;
    font-size: 12px;
    line-height: 1.17;
    color: rgb(117, 117, 117);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1600px) {
  .company-contacts__contact--mail {
    font-size: 14px;
    line-height: 1.14;
  }
}
.company-contacts__icon {
  display: none;
  fill: currentColor;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .company-contacts__icon {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .company-contacts__icon--mail {
    width: 14px;
    height: 10px;
  }
}
@media screen and (min-width: 768px) {
  .company-contacts__icon--tel {
    width: 10px;
    height: 14px;
  }
}
.company-contacts__contact:hover, .company-contacts__contact:focus {
  color: rgb(33, 150, 243);
}
.company-contacts__links {
  position: absolute;
  top: 164px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .company-contacts__links {
    display: none;
  }
}
.company-contacts__social {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: rgb(33, 150, 243);
}
.company-contacts__link::after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  width: 1px;
  height: 100%;
  background-color: rgb(33, 33, 33);
  opacity: 0.1;
}
.company-contacts__link--last::after {
  opacity: 0;
}

.hero {
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/hero-background-mobile.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-background-mobile.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 118px 60px;
  max-width: 1600px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/hero-background-tablet.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-background-tablet.jpg);
  }
}
@media screen and (min-width: 1600px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/hero-background-desctop.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-background-desctop.jpg);
    padding: 200px 0;
  }
}

.our-principles {
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .our-principles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.principle {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgb(117, 117, 117);
  margin-bottom: 30px;
}
.principle:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .principle {
    width: 354px;
  }
}
@media screen and (min-width: 1600px) {
  .principle {
    width: 270px;
  }
}
.principle__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  padding: 25px 0;
  background-color: rgb(245, 244, 250);
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .principle__icon {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .principle__icon {
    width: 354px;
  }
}
@media screen and (min-width: 1600px) {
  .principle__icon {
    width: 270px;
  }
}
.principle__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .principle__title {
    text-align: start;
  }
}
.principle__description {
  margin-top: 10px;
}

.what-we-do {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.what-we-do__img {
  width: 370px;
  height: 294px;
  position: relative;
}
.what-we-do__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  color: rgb(255, 255, 255);
}
.what-we-do__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team-participents {
  margin-bottom: 30px;
  background: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-participents {
    width: 354px;
  }
}
@media screen and (min-width: 1600px) {
  .team-participents {
    width: 270px;
    margin-bottom: 0;
  }
}
.team-participents:last-child {
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .team-participents:last-child {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team-participents:nth-last-child(-n+2) {
    margin-bottom: 0px;
  }
}
.team-participents__img {
  width: 100%;
}
@media screen and (min-width: 480px) {
  .team-participents__img {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team-participents__img {
    width: 354px;
  }
}
@media screen and (min-width: 1600px) {
  .team-participents__img {
    width: 270px;
  }
}

.about-participant {
  padding: 30px 0 24px;
}
@media screen and (min-width: 768px) {
  .about-participant {
    padding: 30px 0 24px;
  }
}
.about-participant__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.185;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.about-participant__job {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: rgb(117, 117, 117);
  margin-bottom: 16px;
}

.participents-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.participents-contacts > li {
  margin-right: 10px;
}
.participents-contacts > li:nth-child(4n) {
  margin-right: 0;
}
.participents-contacts__link {
  width: 44px;
  height: 44px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  color: rgb(175, 177, 184);
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.participents-contacts__link:hover, .participents-contacts__link:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243);
}
.participents-contacts__icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  fill: currentColor;
}

.clients {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 479px) {
  .clients {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.clients li {
  margin-bottom: 30px;
}
@media screen and (max-width: 479px) {
  .clients li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
@media screen and (min-width: 480px) {
  .clients li:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
.clients__link {
  width: 210px;
  height: 92px;
  padding: 16px 51px;
  background: rgb(255, 255, 255);
  display: inline-block;
  border-radius: 4px;
  border: 1px solid rgb(175, 177, 184);
  color: rgb(175, 177, 184);
  -webkit-transition-property: border, color;
  transition-property: border, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1600px) {
  .clients__link {
    width: 170px;
  }
}
.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid rgb(33, 150, 243);
  color: rgb(33, 150, 243);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 93px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}
.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: relative;
  width: 450px;
  height: 609px;
  padding: 40px;
  background: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 479px) {
  .modal {
    width: 100%;
    padding: 25px 15px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 1600px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal-form {
  margin-bottom: 20px;
}
.modal__close {
  position: absolute;
  right: 8px;
  top: 8px;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: inherit;
  cursor: pointer;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:focus, .modal__close:hover {
  fill: rgb(33, 150, 243);
}
.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgb(33, 33, 33);
}
@media screen and (min-width: 1600px) {
  .modal__title {
    line-height: 1.15;
  }
}
.modal textarea {
  resize: none;
}

.modal-form {
  margin-bottom: 20px;
}

.form-input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}
.form-input:nth-last-child(1) {
  margin-bottom: 0;
}
.form-input__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);
  margin-bottom: 4px;
}
.form-input__input {
  padding: 12px 12px 12px 43px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input__input:focus {
  border: 1px solid rgb(33, 150, 243);
  outline: none;
}
.form-input__input:focus ~ .modal-icon {
  color: rgb(33, 150, 243);
}
.form-input textarea:focus {
  border: 1px solid rgb(33, 150, 243);
  outline: none;
}
.form-input textarea:focus ~ .modal-icon {
  color: rgb(33, 150, 243);
}
.form-input textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-input textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-input textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-input textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-input textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-input textarea {
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17x;
  letter-spacing: 0.01em;
}

.modal-icon {
  position: absolute;
  left: 16px;
  bottom: 20px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon svg {
  fill: currentColor;
}

.agreement-place {
  gap: 8.38px;
  margin-bottom: 30px;
}
.agreement-place__agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1600px) {
  .agreement-place__agree {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.checkbox:checked + .checkbox-icon {
  background-color: rgb(33, 150, 243);
  background-image: url(../images/icon\ check.svg);
  background-size: contain;
  background-origin: border-box;
  border: 2px solid rgb(33, 150, 243);
}
.checkbox-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  fill: black;
  border: 2px solid rgb(21, 21, 21);
  border-radius: 2px;
  margin-right: 7px;
}
.checkbox-icon svg {
  fill: white;
}

.terms {
  color: rgb(33, 150, 243);
  margin-left: 4px;
}

.modal-button {
  margin: 0 auto;
  font-weight: 700;
  padding: 10px 52px;
  border: 0;
  background: rgb(33, 150, 243);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-family: inherit;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:focus, .modal-button:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.filters {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 auto 40px;
}
@media screen and (min-width: 768px) {
  .filters {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.filters li:not(:last-child) {
  margin-right: 8px;
  padding-bottom: 15px;
}
.filters__button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  background-color: rgb(245, 244, 250);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filters__button:hover, .filters__button:focus {
  background-color: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filters__button:active {
  background-color: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
}

.projects {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project {
  list-style-type: none;
  width: 450px;
  margin: 0;
  display: inline-block;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 30px;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 479px) {
  .project {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .project {
    width: 354px;
  }
}
.project__image {
  position: relative;
  width: 450px;
  margin: 0;
  overflow: hidden;
}
@media screen and (max-width: 479px) {
  .project__image {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .project__image {
    width: 354px;
  }
}
.project__image img {
  width: 100%;
}
.project__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 62px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translatey(101%);
          transform: translatey(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__overlay > p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255);
}
.project__link:hover, .project__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project__link:hover .project__overlay, .project__link:focus .project__overlay {
  -webkit-transform: translatex(0);
          transform: translatex(0);
}
.project__title {
  padding: 20px 24px;
  border: 1px solid rgb(238, 238, 238);
  border-top: none;
}
.project:nth-last-child(-n+3) {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .project:nth-last-child(-n+3) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .project:nth-last-child(-n+1) {
    margin-bottom: 0px;
  }
}
.project__link {
  text-decoration: none;
}
.project__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: rgb(33, 33, 33);
}
.project__type {
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: rgb(117, 117, 117);
}

.footer {
  background: rgb(47, 48, 58);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}
.footer__adress {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__adress {
    margin-bottom: 0;
  }
}

.contacts-footer {
  text-align: center;
}
.contacts-footer li:not(:last-child) {
  margin-bottom: 8px;
}
.contacts-footer__link {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.join {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .join {
    margin-top: 5px;
  }
}
.join__link {
  width: 44px;
  height: 44px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(255, 255, 255);
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.join__link:hover, .join__link:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243);
  cursor: pointer;
}
.join__icon {
  width: 20px;
  height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inline-block;
  fill: currentColor;
}

.subscription {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .subscription {
    margin: 0 auto;
  }
}
.subscription__email {
  width: 450px;
  height: 50px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-bottom: 20px;
}
@media screen and (max-width: 479px) {
  .subscription__email {
    width: 100%;
  }
}
.subscription__email input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__email input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__email input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__email input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__email input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription .subscription__email:focus {
  outline: transparent;
}
.subscription__button {
  padding: 10px 28px;
  background: rgb(33, 150, 243);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: rgb(255, 255, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin: 0 auto;
}
.subscription__button:hover, .subscription__button:focus {
  cursor: pointer;
}
.subscription__button svg {
  fill: currentColor;
}/*# sourceMappingURL=main.css.map */