.company-contacts {
	list-style-type: none;
	position: relative;
	// display: flex;
	// gap: 50px;
	// margin-left: auto;

	@media screen and (min-width: 768px) {
		position: static;
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-left: 96px;
	}

	@media screen and (min-width: 1600px) {
		margin-left: 315px;
		flex-direction: row;
		gap: 30px;
	}

	&__contact {
		position: absolute;
		font-weight: 500;
		letter-spacing: 0.02em;
		text-decoration: none;
		color: $grey-color;
		display: inline-flex;
		align-items: center;

		transition-property: color;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}

	&__contact--tel {
		top: 0;
		font-size: 34px;
		line-height: 1.176;
		letter-spacing: 0.02em;
		color: $blue-color;

		@media screen and (min-width: 768px) {
			position: static;
			font-size: 12px;
			line-height: 1.17;
			color: $grey-color;
			display: inline-flex;
			align-items: center;

			transition-property: color;
			transition-duration: 250ms;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		}

		@media screen and (min-width: 1600px) {
			font-size: 14px;
			line-height: 1.14;
		}
	}

	&__contact--mail {
		top: 72px;
		font-size: 24px;
		line-height: 1.17;
		color: $grey-color;

		@media screen and (min-width: 768px) {
			position: static;
			font-size: 12px;
			line-height: 1.17;
			color: $grey-color;
			display: inline-flex;
			align-items: center;

			transition-property: color;
			transition-duration: 250ms;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		}

		@media screen and (min-width: 1600px) {
			font-size: 14px;
			line-height: 1.14;
		}
	}

	&__icon {
		display: none;
		fill: currentColor;
		margin-right: 10px;

		@media screen and (min-width: 768px) {
			display: block;
		}
	}

	&__icon--mail {
		@media screen and (min-width: 768px) {
			width: 14px;
			height: 10px;
		}
	}

	&__icon--tel {
		@media screen and (min-width: 768px) {
			width: 10px;
			height: 14px;
		}
	}

	&__contact:hover,
	&__contact:focus {
		color: $blue-color;
	}

	&__links {
		position: absolute;
		top: 164px;

		display: flex;
		gap: 20px;

		@media screen and (min-width: 768px) {
			display: none;
		}
	}

	// @media screen and(min-width:768px) {
	// 	display: none;
	// }

	&__social {
		position: relative;
		font-weight: 500;
		font-size: 18px;
		line-height: 1.22;
		letter-spacing: 0.02em;
		color: $blue-color;
	}

	&__link::after {
		content: "";
		position: absolute;
		top: 0;
		right: -10px;
		width: 1px;
		height: 100%;
		background-color: $black-color;
		opacity: 0.1;
	}

	&__link--last::after {
		opacity: 0;
	}
}
