.contacts-footer {
	text-align: center;

	@media screen and (min-width: 1200px) {
		text-align: start;
	}

	& li:not(:last-child) {
		margin-bottom: 8px;

		// @media screen and (min-width: 1200px) {
		//     margin-bottom: 9px;
		// }
	}
	&__link {
		display: inline-block;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 1.71;
		text-align: center;
		letter-spacing: 0.03em;
		text-decoration: none;
		color: $transparent6-white;
		font-style: normal;
	}
}
