.header-page {
	display: flex;
	flex-direction: row;
	padding: 10px 0;
	align-items: center;

	@media screen and (min-width: 768px) {
		padding: 17px 0;
	}

	@media screen and (min-width: 1200px) {
		padding: 24px 0 25px;
	}

	&__menu {
		display: none;
		background-color: $white;
		z-index: 1;

		@media screen and (max-width: 479px) {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 48px 10px;
		}

		@media screen and (min-width: 480px) {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 48px 40px;
		}

		&--is-open {
			position: fixed;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		@media screen and (min-width: 768px) {
			position: static;
			display: flex;
			margin-left: 87px;
			align-items: center;
			padding: 0;
		}

		@media screen and (min-width: 1200px) {
			margin-left: 92px;
		}

		// @media screen and (min-width: 480px) and (max-width: 767px) {
		// 	display: none;
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	width: 100%;
		// 	height: 100%;

		// 	padding: 48px 40px;

		// 	&--is-open {
		// 		display: block;
		// 	}
		// }
	}

	@media screen and (min-width: 768px) {
		border-bottom: 1px solid rgba(236, 236, 236, 1);
		height: 80px;
	}
}
