.hero {
	background-color: #2f303a;
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../images/raster/hero/img@1x_mob.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	padding: 118px 60px;
	max-width: 1200px;
	margin: 0 auto;

	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../images/raster/hero/img@2x_mob.jpg);
	}

	@media screen and (min-width: 768px) {
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../images/raster/hero/img@1x_tablet.jpg);
		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url(../images/raster/hero/img@2x_tablet.jpg);
		}
	}

	@media screen and (min-width: 1200px) {
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../images/raster/hero/Img@1x_desk.jpg);
		padding: 200px 0;
		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url(../images/raster/hero/Img@2x_desk.jpg);
		}
	}
}
