.hero {
	background-color: #2f303a;
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../../images/hero-background-mobile.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	padding: 118px 60px;
	max-width: 1600px;
	margin: 0 auto;

	@media screen and (min-width: 768px) {
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../../images/hero-background-tablet.jpg);
	}

	@media screen and (min-width: 1600px) {
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../../images/hero-background-desctop.jpg);
		padding: 200px 0;
	}
}
