.nav {
	// @media screen and (max-width: 480px) {
	// 	margin-bottom: 20px;
	// }

	@media screen and (max-width: 767px) {
		margin-bottom: 306px;
	}

	@media screen and (min-width: 768px) {
		margin-bottom: 0;
	}
}
