.principle {
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	color: $grey-color;
	margin-bottom: 30px;

	&:last-child {
		margin-bottom: 0;
	}

	@media screen and (min-width: 768px) {
		width: 354px;
	}

	&__icon {
		display: flex;
		justify-content: center;
		height: 120px;
		padding: 25px 0;
		background-color: $light-grey;
		margin-bottom: 30px;

		@media screen and (min-width: 480px) {
			width: 450px;
			// padding: 25px 190px;
		}

		@media screen and (min-width: 768px) {
			width: 354px;
			// padding: 25px 190px;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: #212121;
		text-align: center;
	}

	&__description {
		margin-top: 10px;
	}
}
