.team-participents {
	margin-bottom: 30px;
	background: $white;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;

	&:last-child {
		margin-bottom: 0px;
	}

	&__img {
		width: 100%;

		@media screen and (min-width: 480px) {
			width: 450px;
		}
	}
}
