$blue-color: rgba(33, 150, 243, 1);
$grey-color: rgba(117, 117, 117, 1);
$dark-background-color: rgba(47, 48, 58, 1);
$dark-background-color-transparent: rgba(47, 48, 58, 0.4);
$black-color: rgba(33, 33, 33, 1);
$transparent6-white:rgba(255, 255, 255, 0.6);
$transparent1-white: rgba(255, 255, 255, 0.1);
$light-grey: rgba(245, 244, 250, 1);
$white: rgba(255, 255, 255, 1);
$icon-grey: rgba(175, 177, 184, 1);
$overlay: rgba(33, 150, 243, 0.9);